<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <file>./app/Providers/BroadcastServiceProvider.php</file>
            <file>./app/Providers/AppServiceProvider.php</file>
            <file>./app/Providers/EventServiceProvider.php</file>
            <file>./app/Providers/RouteServiceProvider.php</file>
            <file>./app/Models/User.php</file>
            <file>./app/Console/Kernel.php</file>
            <file>./app/Http/Controllers/Controller.php</file>
            <file>./app/Http/Kernel.php</file>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
    </php>
</phpunit>
